* {
  margin: 0;
  padding: 0;
}

.CodeMirror {
  border-radius: 5px;
  height: auto !important;
  overscroll-behavior: none;
  padding: 30px;
  font-size: 1.2em;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.container {
  grid-area: editor;
  margin-left: 30px;
  padding: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.react-codemirror2 {
  padding: 30px;
}

body .CodeMirror-scroll  {
  overflow: hidden !important;
}